:root {
  --black: #000000;
  --grey: #808080;
  --light-grey: #f3f3f3;
  --dark-grey: #333333;
  --teal: #2cccc4;
  --white: #ffffff;
  --active: #478ac9;
  --hover-color: #e81212f0;
  --pink: #e09bf1;
  --box-back: #f2f2f2;
  --scratch-card: #00c2cb66;
}
