

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans.ttf");
}

@font-face {
  font-family: "Mochiy Pop P One";
  src: url("../fonts/MochiyPopPOne.ttf");
}

@font-face  {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf");
}
